#G_1{
    background-color: darkgrey;
    position: absolute;
    width: 100px;
    height: 100px;
}

#G_2{
    background-color: darksalmon;
    position: absolute;
    width: 100px;
    height: 100px;
}