body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(161, 248, 248);
    justify-content: center;
    align-items: center;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio{
    display: block;
    background-color: white;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#inicio #texto1{
    font-size: 20pt;
    font-weight: bold;
    color: pink;
}

#inicio #texto2{
    font-size: 15pt;
}

#btn {
    font-size: 18pt;
    background-color: rgb(224, 224, 224);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#principal {
    display: none;
    background-color: rgb(147, 171, 238);
    width: 100vw;
    height: 100vh;
}

#M_1{
    width: 126px;
    height: 180px;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    left: 2420px;
    top: 60px;
    cursor: pointer;
}

#M_1:hover{
    background:linear-gradient(30deg,rgb(241, 233, 231),rgba(209, 196, 10, 0.15));
}  

#M_2{

}


    
    
    






