body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#inicio{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#fondo {
    width: 100vw;
    position: absolute;
    z-index: -5;
}

#inicio #titulo{
    height: 300px;
    font-family: title;
    font-size: 60pt;
    color: rgb(0, 0, 0);
    filter: drop-shadow(10px 5px rgb(255, 203, 225));
}

#intro_txt,#help_txt1,#help_txt2 {
    background-color: #fff0c6cc;
    border-radius: 20px;
    filter: drop-shadow(8px 5px 3px #756845cc);

    font-size: 15pt;
    font-style: oblique;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

#intro_txt {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 50px;

    width: 520px;
    height: 80px;
    padding: 30px;
}
#help_txt1 {
    position: absolute;
    top: 180px;
    left: 0px;
    margin: 50px;

    width: 280px;
    height: 50px;
    padding: 20px;
}
#help_txt2 {
    position: absolute;
    top: 180px;
    left: 360px;
    margin: 50px;

    width: 180px;
    height: 50px;
    padding: 20px;
}

#btn {
    position: absolute;
    right: 10%;
    bottom: 10%;
    font-size: 30pt;
    background-color: rgb(224, 224, 224);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}

#principal {
    display: none;
    background: linear-gradient(30deg, rgb(233, 145, 226), rgb(152, 176, 240));
    width: 100vw;
    height: 100vh;
}



    
    
    

/*________________________________ali+gonzalo________________________________*/



#malla {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f";
    grid-template-rows: 1fr 1fr;
}

#malla_1 {
    grid-area: a;
}
#malla_2 {
    grid-area: b;
}
#malla_3 {
    grid-area: c;
}
#malla_4 {
    grid-area: d;
}
#malla_5 {
    grid-area: e;
}
#malla_6 {
    grid-area: f;
}
#malla_1, #malla_2, #malla_3, #malla_4, #malla_5, #malla_6 {
    display: flex;
}



/* COMECOCOS */

#A_1{
    position: absolute;
    width: 100;
    height: 100;
    border-right: 100px solid transparent;
    border-top: 100px solid yellow;
    border-bottom: 100px solid yellow;
    border-left: 100px solid yellow;
    border-radius: 50%;
    left: 10px;
    top: 30px;
    z-index: 5;
    
    scale: 1;
    rotate: 0deg;
    cursor:grab;
    transition: filter 2s,
    scale 2s ease-in-out,
    rotate 0.5s;


}

#A_1:hover {
    box-shadow: inset 5px -13px 0 white;
}


/*ESFERA 3D*/

#A_2 {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 60%;
    z-index: 5;

    transform-style: preserve-3d;
    animation: rotate 5s linear infinite ;
}

#A2_a, #A2_b, #A2_c {
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: grab;
    border: 10px solid white;
    border-radius: 50%;
}
#A2_b {
    transform: rotateX(90deg);
}
#A2_c {
    transform: rotateY(90deg);
}



/* CUBO GIRATORIO */
#A_3 {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 60%;
    z-index: 5;

    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
}

#A1 {
    width: 300px;
    height: 300px;
    background-color: rgba(43, 183, 226, 0.35);

    position: absolute;
    transform: translateZ(150px);
    transition: 1s;
}

#A2 {
    width: 300px;
    height: 300px;
    background-color: rgba(43, 183, 226, 0.35);

    position: absolute;
    transform: translateZ(-150px);

    transition: 1s;
}

#B1 {
    width: 300px;
    height: 300px;
    background-color: rgba(137, 43, 226, 0.35);

    position: absolute;
    transform: rotateY(90deg) translateZ(-150px);

    transition: 1s;
}

#B2 {
    width: 300px;
    height: 300px;
    background-color: rgba(137, 43, 226, 0.35);

    position: absolute;
    transform: rotateY(90deg) translatez(150px);

    transition: 1s;
}

#C1 {
    width: 300px;
    height: 300px;
    background-color: rgba(226, 131, 43, 0.35);

    position: absolute;
    transform: rotateX(90deg) translatez(-150px);

    transition: 1s;
}

#C2 {
    width: 300px;
    height: 300px;
    background-color: rgba(226, 131, 43, 0.35);

    position: absolute;
    transform: rotateX(90deg) translatez(150px);

    transition: 1s;
}


#A_3:hover #A1 {
    transform: translateZ(200px);
}
#A_3:hover #A2 {
    transform: translateZ(-200px);
}
#A_3:hover #B1 {
    transform: rotateY(90deg) translateZ(-200px);
}
#A_3:hover #B2 {
    transform: rotateY(90deg) translateZ(200px);
}
#A_3:hover #C1 {
    transform: rotateX(90deg) translateZ(-200px);
}
#A_3:hover #C2 {
    transform: rotateX(90deg) translateZ(200px);
}

#A_3:hover {
    transform: rotateX(90deg) skew(15deg, 15deg);
    transition: all infinite cubic-bezier(0.215, 0.610, 0.355, 1);
}





/* Empieza la parte de Gonzalo css */

#G_1{
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 100px;
    height: 100px;
    right: 99.98%;
    border-radius: 50%;
    cursor: move;
    z-index: 2;
    /* Esto va a ser un circulo que va a estar enscondido por el exterior 
    de la pantalla y hay que encontrarla y al hacer click en el se cambiara el fondo*/
}

#G_2{
    background-color: darksalmon;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: move;
    z-index: 2;
    bottom: 1%;
    left: 1%;
    /* Un circulo que simplemente se puede arrastrar */
}

#G_3{
    width: 0; 
    height: 0; 
    border-left: 200px solid #428bca;
    border-top: 100px solid #f0ad4e;
    border-bottom: 100px solid #d9534f; 
    right: 20px;
    bottom: 20px;
    position: absolute;
    cursor:wait;
    z-index: 2;
    /* Es el cuadrado que está abajo a la derecha que es para cambiar el fondo */
}

#G_5{
    position: absolute;
    width:1px;
    height:1px;
    border-bottom:100px solid #445a1228;
    border-left:55px solid transparent;
    border-right:55px solid transparent;
    top:30%;
    left: 20%;
    z-index: 2;
}

#G_6{
    position: absolute;
    width: 70px;
    height: 50px;
    z-index: 11;
    right: 2%;
    top: 50%;
    cursor:grab;
}

#G_6 img{
    width: 100%;
    height: 100%;
}

#G_7{
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 10;
    left: 2%;
    top: 50%;
    opacity: 60%;
    cursor:grab;
}

#G_7 img{
    width: 100%;
    height: 100%;
}

#G_6c{
    position: absolute;
    width: 70px;
    height: 50px;
    z-index: 11;
    left: -35px;
    top: 40px;
}

#G_6c img{
    width: 100%;
    height: 100%;
}

#G_7c{
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 10;
    opacity: 60%;
    left: -40px;
    top: 7px;
}

.show{
    display:block;
}

.hide{
    display: none;
}

#G_7c img{
    width: 100%;
    height: 100%;
}

#pizarra{
    background-color: #00000000;
    right: 0%;
    top: 0%;
    position: absolute;
    cursor: crosshair;
    z-index: 1;
}

/* Acaba la parte css de las figuras de Gonzalo */



/*MERCEDES*/



#M_1{
    width: 126px;
    height: 180px;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    left: 2420px;
    top: 60px;
    cursor: pointer;
    /* Huevo */
}

/* Huevo */

#M_1:hover{
    background:linear-gradient(30deg,rgb(241, 233, 231),rgba(209, 196, 10, 0.15));
    
}  

/* El huevo aparece cuando el cursor queda por encima */





#m_1a {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
    position: relative;
    top: 10rem;
    left: 10rem;
}


#m_1a:before,
#m_1a:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

#m_1a:before {
    top: 0;
    left: -25px;
  }
  
  #m_1a:after {
    top: -25px;
  }


  #m_1a {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
    position: relative;
    top: 10rem;
    left: 10rem;
    animation: latido 2s ease infinite;
  }


  #M_2{
    
    cursor:grab;
    z-index: 21;
    position: relative;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 cornflowerblue;
    -webkit-box-shadow: 30px 10px 0 cornflowerblue;
    box-shadow: 30px 10px 0 cornflowerblue;

    transition: transform 4s;
  }

  /* Cuando agarras la luna aparece el space y ésta rota infinitamente hasta desaparecer si la sueltas encima de él */
  
  #fotospace{
    width: 400px;
    height: 400px;
    top: 10px;
    left: 800px;
    z-index: 1;
    position: relative;
  }

  .rainbow-pixel-canvas {
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 650px;
  
    user-select: none;
    touch-action: none;
  }
  
  /* Pizarra de colores */










@keyframes latido {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }

/* El corazón aparece y late infinitamente cuando clikeas 12 veces al huevo */


@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }